name: manula control

on:
  push:
    branches:["main"]
  pull_request:
    branches:["main"]
  workflow_dispatch:


jobs:
  runs-on: ubuntu-latest
  job1:
    steps:
      - uses: actions/checkout@v3

      - name: Run a one-line script
        run: echo this is one line
      
      - name: Run a multi-line script
        run: |
          echo this is multi line 1
          echo this is multi line 2


