name: manula control


on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

env:
  name: Atul kumar pandey

jobs:
  job1:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3

      - name: Run a one-line script
        run: echo my name is $name
      
      - name: Run a multi-line script
        run: |
          echo this is multi line 1
          echo this is multi line 2


